* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(img/comicBg.jpg);
    background-size: auto;
}
h2{
color: white;
}

button, input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}
.search-section{
    padding-top: 20px;
    display: flex;
    align-content: center;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  
  /* Style the submit button */
  .search-icon {
    float: left;
    width: 30px;
    height: 30px;
    padding: 10px;

  }
  
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
#results-list{
   
    text-align: center;
}
.sizeMe{
    height: 350px;
    width: auto;
   
}
.container {
    max-width: 800px;
    margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}
li {
    list-style-type: none;
}

.collapsible {
 
    color: #444;
    cursor: pointer;
    
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .comic-title{
      font-size:14px;
  }
  @media only screen and (min-width: 768px){
    #results-list{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 5px;
        margin: 5px 5px;
        padding-top: 5px;
    }

  }